<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>enerji.com</title>
</head>
<body>
    {% block content %}
    <header class="header">
    <div class="header__text">
      <h1>Anasayfa</h1>
      <p>Evinizin enerji verimliliğini hesaplayın!</p>
    </div>
  </header>
  <a class = "abcde" href="/main">Hemen test edin!</a>
  <p class="abcdef">Enerji tüketimi ve verimliliğini izlemek, çevre dostu yaşam tarzlarını benimsemek için kritik bir adımdır. Bu site, kullanıcıların günlük enerji kullanımını kolayca izlemelerini, analiz etmelerini ve optimize etmelerini sağlar. Kullanıcılar, enerji kullanımını izleyerek faturalarını düşürebilir, karbon ayak izlerini azaltabilir ve daha çevreci bir yaşam tarzı benimseyebilirler.</p>
  <main>
    {% endblock %}
</body>